Repository emergotechnologies/helium-positioning-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

updated
  src/helium_positioning_api/api.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

deleted unnecessary file
  src/helium_positioning_api/trilateration.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

pre-commit
  README.md
  docs/source/conf.py
  docs/source/usage.rst
  noxfile.py
  src/helium_positioning_api/api.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

python 3.7 not supported
  noxfile.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

cosmetic issues
  .github/workflows/constraints.txt
  README.md
  src/helium_positioning_api/api.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

cosmetic issue
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

deletion of unnecessary file
  src/helium_positioning_api/triangulation.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

architecture update
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

restoration of trilateration
  src/helium_positioning_api/trilateration.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

+ add demo notebook
  notebooks/helium_positioning_demo.ipynb
Due: end-of-file-fixer, trailing-whitespace

docs: update README
  README.md
Due: end-of-file-fixer, trailing-whitespace

+ add pip install folium cmd
  notebooks/helium_positioning_demo.ipynb
Due: end-of-file-fixer, trailing-whitespace

~ install folium
  notebooks/helium_positioning_demo.ipynb
Due: end-of-file-fixer, trailing-whitespace

docs: update readme to provide more informations about available models
  README.md
Due: end-of-file-fixer, trailing-whitespace

feat: add docker-build
  .github/docker-build.yml
  Dockerfile
Due: check-yaml, end-of-file-fixer, trailing-whitespace

fix: move-docker-build into workflows
  .github/workflows/docker-build.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

fix: env-section, change name
  .github/workflows/docker-build.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

feat: change to manual trigger
  .github/workflows/docker-build.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

fix: add models into image
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace

fix: downgrade skikit-learn to match models, update dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace

feat: add instructions to run the positioning-api as docker-container
  README.md
Due: end-of-file-fixer, trailing-whitespace

Path conditions:
  black: any of: \.py$, but not: (?x)^(
    tests/data/events.json|
    tests/data/integration_events.json|
    .devcontainer/devcontainer.json|
    .pre-commit-config.yaml
)$

  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: (?x)^(
    tests/data/events.json|
    tests/data/integration_events.json|
    .devcontainer/devcontainer.json|
    .pre-commit-config.yaml
)$

  flake8: any of: \.py$, but not: (?x)^(
    tests/data/events.json|
    tests/data/integration_events.json|
    .devcontainer/devcontainer.json|
    .pre-commit-config.yaml
)$

  pyupgrade: any of: \.py$, but not: (?x)^(
    tests/data/events.json|
    tests/data/integration_events.json|
    .devcontainer/devcontainer.json|
    .pre-commit-config.yaml
)$

  trailing-whitespace: any file but: (?x)^(
    tests/data/events.json|
    tests/data/integration_events.json|
    .devcontainer/devcontainer.json|
    .pre-commit-config.yaml
)$

