Repository emergotechnologies/helium-positioning-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$

pre-commit-issues
  docs/source/conf.py
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/__main__.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

black
  src/helium_positioning_api/Models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

removed redundant line
  src/helium_positioning_api/Models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated constraints
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

added haversine
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

updated tests
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

added pip upgrade
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

corrected version outpout
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

updated tests.yaml
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

trying to make tests work
  .github/workflows/tests.yml
  noxfile.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

trailing whitespace
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

trying to get tests to work
  noxfile.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

safety issue Vulnerability ID: 51457
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

pytest 7.2 py dependency safety issue
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

pytest version
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

trying to update the lock file
  noxfile.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

rollback
  noxfile.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated lockfile (safety vulnerability fix)
  poetry.lock
Due: end-of-file-fixer, trailing-whitespace

added for mypy
  src/helium_positioning_api/py.typed
  src/py.typed
Due: end-of-file-fixer, trailing-whitespace

mypy
  src/helium_positioning_api/DataObjects.py
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/auxilary.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/auxilary.py
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

pre-commit/mypy
  src/helium_positioning_api/Models.py
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

added pypy wrapper
  .github/workflows/constraints.txt
  noxfile.py
  poetry.lock
  requirements.txt
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

end of file
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

end of file
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

formatting
  noxfile.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

unused type ignore
  src/helium_positioning_api/DataObjects.py
  src/helium_positioning_api/Models.py
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

added utm
  noxfile.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

merge main
  .idea/.gitignore
  .idea/helium-positioning-api.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: end-of-file-fixer, trailing-whitespace

update wrapper compatibility
  src/helium_positioning_api/DataObjects.py
  src/helium_positioning_api/Models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update .gitignore
  .gitignore
Due: end-of-file-fixer, trailing-whitespace

fix: reduce strictness of mypy, coverage
  .vscode/settings.json
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

fix: flake8 and links
  .flake8
  README.md
Due: end-of-file-fixer, trailing-whitespace

fix: precommit hook
  .flake8
  .idea/helium-positioning-api.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  docs/source/conf.py
  src.egg-info/SOURCES.txt
  src.egg-info/dependency_links.txt
  src/helium_positioning_api/__main__.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix: flake8
  .flake8
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/__main__.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

start implementing triangulation
  src/helium_positioning_api/DataObjects.py
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/distance_prediction.py
  tests/data/integration_events.json
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

~ fixing mypy errors
  src/helium_positioning_api/DataObjects.py
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/__main__.py
  src/helium_positioning_api/auxilary.py
  src/helium_positioning_api/distance_prediction.py
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

+ implement trilateration model
  .env.sample
  src/helium_positioning_api/DataObjects.py
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/__main__.py
  src/helium_positioning_api/auxilary.py
  src/helium_positioning_api/distance_prediction.py
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

+ start implement mocking for tests
  src/helium_positioning_api/DataObjects.py
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/distance_prediction.py
  tests/data/hotspots.json
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
