Repository emergotechnologies/helium-positioning-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: |
            (?x)^(
                tests/data/events.json|
                tests/data/integration_events.json|
                .devcontainer/devcontainer.json|
                .pre-commit-config.yaml
            )$

+ implement test strategy
  .github/workflows/tests.yml
  src/helium_positioning_api/DataObjects.py
  tests/data/integration_events.json
  tests/data/transaction_hotspots.json
  tests/test_models.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated noxfile+req. poetry update non-responsive for 10 hours
  noxfile.py
  requirements.txt
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

added file for experimentation
  .gitignore
Due: end-of-file-fixer, trailing-whitespace

added trilateration prototype
  src/helium_positioning_api/Models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

added helper function for trilateration
  src/helium_positioning_api/auxilary.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated lockfile
  poetry.lock
Due: end-of-file-fixer, trailing-whitespace

pre-commit flake8
  noxfile.py
  requirements.txt
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/auxilary.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy
  src/helium_positioning_api/auxilary.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

pre-commit flake8
  noxfile.py
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/auxilary.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

typing mypy
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/auxilary.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

flake8
  src/helium_positioning_api/auxilary.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

add models
  src/helium_api_wrapper/DataObjects.py
  src/helium_api_wrapper/ResultHandler.py
  src/helium_api_wrapper/__init__.py
  src/helium_api_wrapper/__main__.py
  src/helium_api_wrapper/challenges.py
  src/helium_api_wrapper/devices.py
  src/helium_api_wrapper/endpoint.py
  src/helium_api_wrapper/hotspots.py
  src/helium_api_wrapper/py.typed
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

~ refactor model code
  src/helium_positioning_api/Models.py
  src/helium_positioning_api/__main__.py
  src/helium_positioning_api/api.py
  src/helium_positioning_api/auxilary.py
  src/helium_positioning_api/midpoint.py
  src/helium_positioning_api/nearest_neighbor.py
  src/helium_positioning_api/todos.txt
  src/helium_positioning_api/triangulation.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

+ integrate model
  src/helium_positioning_api/__main__.py
  src/helium_positioning_api/distance_prediction.py
  src/helium_positioning_api/models/gradient_boosting.joblib
  src/helium_positioning_api/todos.txt
  src/helium_positioning_api/triangulation.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

~ add linear_regression model
  src/helium_positioning_api/models/linear_regression.joblib
Due: end-of-file-fixer, trailing-whitespace

flake8
  src/helium_api_wrapper/ResultHandler.py
  src/helium_api_wrapper/challenges.py
  src/helium_positioning_api/auxilary.py
  src/helium_positioning_api/distance_prediction.py
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

renamed
  src/helium_positioning_api/triangulation.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

refactored
  src/helium_positioning_api/trilateration.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy
  src/helium_api_wrapper/DataObjects.py
  src/helium_positioning_api/distance_prediction.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated naming
  src/helium_api_wrapper/challenges.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

missing docstrings in trilateration
  src/helium_positioning_api/trilateration.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

~ first successful triangulation
  .idea/vcs.xml
  models/gradient_boosting.joblib
  models/linear_regression.joblib
  models/preprocessor.joblib
  src/helium_api_wrapper/DataObjects.py
  src/helium_api_wrapper/ResultHandler.py
  src/helium_api_wrapper/__init__.py
  src/helium_api_wrapper/__main__.py
  src/helium_api_wrapper/challenges.py
  src/helium_api_wrapper/devices.py
  src/helium_api_wrapper/endpoint.py
  src/helium_api_wrapper/hotspots.py
  src/helium_api_wrapper/py.typed
  src/helium_positioning_api/DataObjects.py
  src/helium_positioning_api/__main__.py
  src/helium_positioning_api/auxilary.py
  src/helium_positioning_api/distance_prediction.py
  src/helium_positioning_api/models/linear_regression.joblib
  src/helium_positioning_api/models/preprocessor.joblib
  src/helium_positioning_api/nearest_neighbor.py
  src/helium_positioning_api/triangulation.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

~ pre-commit
  .idea/vcs.xml
  src/helium_positioning_api/__main__.py
  src/helium_positioning_api/auxilary.py
  src/helium_positioning_api/distance_prediction.py
  src/helium_positioning_api/triangulation.py
  src/helium_positioning_api/trilateration.py
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

refactoring + mypy Co-authored-by: Fedorova <ms.afedorova@gmail.com>
  src/helium_positioning_api/auxilary.py
  src/helium_positioning_api/distance_prediction.py
  src/helium_positioning_api/triangulation.py
  src/helium_positioning_api/trilateration.py
  tests/test_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

flake 8 + docstrings Co-authored-by: Fedorova <ms.afedorova@gmail.com>
  src/helium_positioning_api/auxilary.py
  src/helium_positioning_api/distance_prediction.py
  src/helium_positioning_api/trilateration.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

flake8
  src/helium_positioning_api/trilateration.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix: sphinx build config
  docs/Makefile
  docs/codeofconduct.md
  docs/conf.py
  docs/make.bat
  docs/reference.md
  docs/requirements.txt
  docs/source/codeofconduct.md
  docs/source/conf.py
  docs/source/contributing.md
  docs/source/helium_positioning_api.rst
  docs/source/index.md
  docs/source/license.md
  docs/source/reference.rst
  docs/source/usage.rst
  docs/usage.md
  poetry.lock
  pyproject.toml
  src/helium_positioning_api/__main__.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix: updated poetry.lock
  poetry.lock
Due: end-of-file-fixer, trailing-whitespace

fix: nox docs-build session
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix: update github workflow constraints
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

Update release.yml
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

Update README.md
  README.md
Due: end-of-file-fixer, trailing-whitespace

added models
  src/helium_positioning_api/api.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

corrected model path
  src/helium_positioning_api/distance_prediction.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new models (sklearn version update)
  models/gradient_boosting.joblib
  models/linear_regression.joblib
  models/preprocessor.joblib
Due: end-of-file-fixer, trailing-whitespace
